/* Global definitions */

body {
  background:#f7f7f7;
}

.card {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  margin: 5px;
  border-radius: 2px;
  box-shadow: 0px 2px 4px rgba(0,0,0,.2);
  background: white;
  overflow: hidden;
  vertical-align: top;
  position: relative;
  font-weight: 300;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  &.small {
    height:80px;
  }
}

/* Search form definitions */

#search-form {
  margin:0px;

  #standard {
    margin-bottom: 15px;
  }

  .button-wrapper {
    font-weight: 400;
    box-shadow:0px 0px 4px #d9d9d9;
    -moz-box-shadow:0px 0px 4px #d9d9d9;
    -webkit-box-shadow:0px 0px 4px #d9d9d9;
    border-radius:0 4px 4px 0;
    -moz-border-radius:0 4px 4px 0;
    -webkit-border-radius:0 4px 4px 0;
    position: absolute;
    top: 22px;
    right: 25px;
    width: 220px;
  }

  .search-button {
    float:left;
    background:#dbdbdb;
    height:26px;
    width:100px;
    padding:5px 10px 5px 10px;
    border-radius:0 4px 4px 0;
    -moz-border-radius:0 4px 4px 0;
    -webkit-border-radius:0 4px 4px 0;
    text-align:center;
    border: solid 1px #c5c5c5;
    text-shadow: beige 1px 1px;

    &.first {
      background:#f0f0f0;
      width:76px;
      border-radius:0;
      -moz-border-radius:0;
      -webkit-border-radius:0;

    }

    &:hover {
      background:#505050;
      border:solid 1px #808080;
      text-shadow: rgb(163, 163, 163) 1px 1px 1px;

      span {
        color:beige;
      }
    }

    span {
      line-height:28px;
      font-size:1.2em;
    }
  }

  #search-input {
    margin:22px 0 0 25px;
    border: 1px solid #c4c4c4;
    height:26px;
    width:650px;
    font-size:1.3em;
    padding:5px 10px 5px 10px;
    border-radius:4px 0 0 4px;
    -moz-border-radius:4px 0 0 4px;
    -webkit-border-radius:4px 0 0 4px;
    box-shadow:0px 0px 4px #d9d9d9;
    -moz-box-shadow:0px 0px 4px #d9d9d9;
    -webkit-box-shadow:0px 0px 4px #d9d9d9;

    &:focus {
      outline: none;
      border: 1px solid #7bc1f7;
      box-shadow: 0px 0px 8px #7bc1f7;
      -moz-box-shadow: 0px 0px 8px #7bc1f7;
      -webkit-box-shadow: 0px 0px 8px #7bc1f7;
    }
  }
}

/* Advanced search */

.advanced {
  height:0;
  opacity:0;
  display:none;

  .card {
    height:150px;

    &.half {
      height:65px;

      &.under {
        top:-75px;
        overflow:visible;
      }
    }
  }

  .advanced-title {
    padding: 10px;
    font-size: 1.2em;
    line-height: 2em;
  }

  .advanced-list {
    list-style:none;

    & > li {
      display:inline-block;

      label {
        font-size: 1.2em;
        font-weight: 400;
        position: relative;
        top: -15px;
        padding: 10px 10px 10px 20px;
      }
    }
  }

  #advanced-media  {
    a.dk_toggle {
      width:30px;
    }

    .advanced-list li label {
      top:-35px;
    }
  }
}

#advanced-below {
  height:0;
  opacity:0;
  display:none;
  max-height:75px;

  .card {
    height:75px;

    .advanced-list {
      label {
        top:0;
      }
    }
  }

  #advanced-slop {
    #slop {
      width:400px;
      top:13px;
    }

    .advanced-title span{
      margin-left:10px;
    }

    label {
      padding-right:20px;
    }
  }

  #advanced-date {
    input {
      font-size:1.2em;
      width:80px;
      text-align: center;
      border-radius: 0;
      padding: 5px 10px 5px 10px;
    }
  }
}

/* Dropkick custom theme */

.dk_theme_black {
  background: #777;
  font-size:1.2em;
}

.dk_theme_black .dk_toggle {
  border-radius:0;
  -moz-border-radius:0;
  -webkit-border-radius:0;
  box-shadow:none;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  border-color:#505050;
  padding-top: 2px;
  padding-bottom: 2px;

  &:hover, &:active, &:focus {
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    border-color:#505050;
  }
}

.dk_theme_black .dk_label {
  display: block;
}

.dk_theme_black .dk_toggle,
.dk_theme_black.dk_open .dk_toggle {
  background-color:#505050;
  color: beige;
  font-family:"Source Sans Pro";
  font-size:1.3em;
  font-weight:400;
  text-shadow: rgb(163, 163, 163) 1px 1px 1px;
}

.dk_theme_black .dk_toggle:after {
  border-top-color: #fff;
}

.dk_theme_black .dk_options_inner {
  margin-bottom:0;
  margin-left:0;
  margin-top:0;
  border-radius:0;
  -moz-border-radius:0;
  -webkit-border-radius:0;
  border:none;
  border-top: solid 2px #505050;

  li {
    margin-bottom:0;
  }
}

.dk_theme_black .dk_options a {
  font-size:1.2em;
  font-weight:400;
  background-color:#777;
  color:beige;
  text-shadow:none;
}

.dk_theme_black .dk_options a {
  background-color:white;
  padding-bottom:6px;
  padding-top:6px;
}

.dk_theme_black .dk_options a,
.dk_theme_black .dk_options .dk_option_current a {
  border:none;
  background-color:#6d6d6d;
  color: #fff;
  text-shadow: #604A42 0 1px 0;
  text-shadow: rgb(163, 163, 163) 1px 1px 1px;
  font-size:1.2em;
  font-weight:400;

  &:hover {
    background-color:#969696;
    text-shadow: rgb(163, 163, 163) 1px 1px 1px;
  }
}
